<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link href=" /static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!--<link href=" /static/css/styles.css" rel="stylesheet">-->
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/index.js"></script>

    <title>更新</title>

    <script language="javascript" type="text/javascript">
var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
 var some_data=[{"names":"Column_owner","point":"AKESH2880153908"},{"names":"xuwei","point":"AKESH2880153908"}];
 $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
   $(function(){
     $("#delete").click(function () {
        $("input[name='test']:checked").each(function() {
            n = $(this).parents("tr").index();
            $("table#contactTable").find("tr:eq("+n+1+")").remove();
        });
    });
	});

    $(function(){
     $("#update").click(function () {

        getVal();

    });
	});



    $(function(){
     $("#delete").click(function () {

        nums();

    });
	});
function nums(){
      $.ajax({
    url:"/form_edit/",
    data:{"num":1},

    type:"POST",
    success:function(data){
       window.location.href="http://www.baidu.com";
    }
});

}
		function getVal(){

        //将选中的值添加到数组chk_value中
        var array = $("table input[type=checkbox]:checked").map(function () {
                    return { "names": $.trim($(this).closest("tr").find("td:eq(0)").text()), "age": $.trim($(this).closest("tr").find("td:eq(1)").text()),"address": $.trim($(this).closest("tr").find("td:eq(2)").text())};
                }).get();


                var three=document.getElementsByName("cluster");

                 three[0].value=array[0]["names"];
                var four=document.getElementsByName("types");
                 four[0].value=array[0]["age"];
                 var five=document.getElementsByName("qaid");
                 five[0].value=array[0]["address"];
                $.each(array, function (i, d) {

                    alert(d.name + "|" + d.age);
                })
                    var one=document.getElementsByName("name")[0].value

      $.ajax({
    url:"/form_edit/",
    data:{"data":JSON.stringify(array)},
    <!--async:true,-->
    dataType:"json",
    type:"POST",
    success:function(data){
        alert("hehe");
        window.location.href="https://www.baidu.com"
    }
});

    }




    $(function() {
        $('table').on('click', 'tr', function(e){
        if($(this).find('td:eq(3) input').prop('checked'))
        {
                $(this).find('td:eq(3) input').prop('checked', false);

        }else
        {
                $(this).find('td:eq(3) input').prop('checked',true)


             }

 })
     $("input[type='checkbox']").click(function(e){
    e.stopPropagation();
});
            });


function  checkLeave()
{
var one =2;
event.returnValue = "确定？";
      $.ajax({
    url:"/listing/",
    data:{"data2": one},
    <!--async:true,-->
    dataType:"json",
    type:"GET",
    success:function(data){
        alert("hehe");
        window.location.href="https://www.baidu.com"
    }
});
}
window.onbeforeunload=function (){
alert("===onbeforeunload===");
if(event.clientX>document.body.clientWidth && event.clientY < 0 || event.altKey){
alert("你关闭了浏览器");
}else{
alert("你正在刷新页面");
}
}










    </script>

</head>

<body onbeforeunload="checkLeave()">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ES干预平台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="http://127.0.0.1:8000/index/">新增</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/listing">检索</a></li>
            </ul>
        </div>
        <div id="header-navbar-collapse" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">

                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎， <strong>
                        {{ request.user.username }}</strong> <span class="caret"></span></a>

                    <ul class="dropdown-menu">

                        <li><a href="/admin/password_change/">修改密码</a></li>

                        <li><a href="/admin/logout/">注销</a></li>
                    </ul>
                </li>
                <!--<li>-->
                <!--<a target="_parent" href="/logout/"><strong>注销</strong></a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>


<!--<style>-->
<!--div{ display:inline-block;}-->
<!--</style>-->

<a type="button" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h4>步骤一：仅支持上传txt，若源文件为excel，参考下图，另存为 “文本文件(制表符分割)“ 之后参考步骤二</h4>
                <p>

                    <img src="/static/img/exclealert.png" width="100%" height="50%">
                </p>
                <h4>步骤二：若源文件为txt，请务必另存为 UTF-8 编码</h4>
                <p>
                    <img src="/static/img/txtalert.png" width="100%" height="50%">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div>
    <form method='get' role="form">

        {% csrf_token %}
        <div class="form-group">
            <label for="name">标签:</label>
            {{ form.country }}
        </div>
        <div class="form-group">
            <label for="name">标签:</label>
            {{ form.country }}
        </div>

        <input type="submit" value="提交" class="btn btn-primary">

    </form>
</div>

<div>
    <form class="form-horizontal" method="post" id="defaultform">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">cluster：</label>
            <div class="col-sm-10" id="test">
                <select class="form-control" name="cluster" style="width:30%" v-model="selected">
                    <option v-for="yx in YX" :value="yx.text" v-text="yx.text">
                    </option>
                </select>
                <select class="form-control" style="width:30%">
                    <option v-for="(zy,index) in selection" :value="zy.text" :selected="index == 0 ? true : false"
                            v-text="zy.text">
                    </option>
                </select>
            </div>
        </div>
        <script type="text/javascript">
new Vue({
  el: '#test',
  data: {
    selected: '计信院',
    YX: [{
      text: '计信院',
      ZY: [{
        text: '软件工程'
      }, {
        text: '计算机科学与技术'
      }, {
        text: "信息安全"
      }, ]
    }, {
      text: '商学院',
      ZY: [{
        text: '旅游管理'
      }, {
        text: '工商管理'
      }, {
        text: "行政管理"
      }, ]
    }, ]
  },
  computed: {
    selection: {
      get: function() {
        var that = this;
        return this.YX.filter(function(item) {
          return item.text == that.selected;
        })[0].ZY;
      }
    }
  }
});




        </script>
        <div id="divContent">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-10">
                        <select v-model="OneData" class="form-control" name="cluster" style="width:30%">
                            <template v-for="item in selOneVal">
                                <option :value="item.value" v-text="item.text">{{item.text}}</option>
                            </template>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <select v-model="TwoData" class="form-control" name="cluster" style="width:30%">
                            <template v-for="item in selTwoVal">
                                <option :value="item.value" v-text="item.text">{{item.text}}</option>
                            </template>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <select v-model="ThreeData" class="form-control" name="cluster" style="width:30%">
                            <template v-for="item in selThreeVal">
                                <option :value="item.value" v-text="item.text">{{item.text}}</option>
                            </template>
                        </select>
                    </div>
                </div>


            </form>
        </div>
        <script type="text/javascript">
        $(function () {
            vm.OneChange();
        });
        var vm = new Vue({
            el: '#divContent',
            data: {
                selOneVal: [],
                selTwoVal: [],
                selThreeVal: [],
                OneData: '集群',
                TwoData: '索引',
                ThreeData: '类型'

            }, methods: {
                OneChange: function () {
                    vm.selOneVal = [];

                    this.selOneVal.push(
                        { value: '集群', text: '集群' },
                        { value: '1', text: 'es_offline' },
                        { value: '2', text: 'es_online' },
                        //{ value: '3', text: '德国' }
                    )
                    this.selTwoVal.push({ value: '索引', text: '索引' })
                    this.selThreeVal.push({ value: '类型', text: '类型' })
                }
            }
               , watch: {
                   OneData: function () {
                       vm.selTwoVal = [];
                       vm.selThreeVal = [];

                       this.selTwoVal.push({ value: '索引', text: '索引' })
                       this.selThreeVal.push({ value: '类型', text: '类型' })

                       var s1 = vm.OneData;
                       if (s1 == 1) {
                           this.selTwoVal.push(
                       { value: '1', text: 'chat_pudding_1' },
                       { value: '2', text: 'chat_op_comon_1' },
                       { value: '3', text: 'chat_norm_1' },
                       { value: '4', text: 'chat_kg_1' },
                       { value: '5', text: 'chat_high_1' },
                       { value: '6', text: 'chat_op_1' })

                       } else if (s1 == 2) {
                           this.selTwoVal.push(
                       { value: '1', text: 'chat_pudding_1' },
                       { value: '2', text: 'chat_op_common_1' },
                       { value: '3', text: 'chat_norm_1' },
                       { value: '4', text: 'chat_kg_1' },
                       { value: '5', text: 'chat_high_1' },
                       { value: '6', text: 'chat_op_1' })
                       }
                       //else if (s1 == 3) {
                           //this.selTwoVal.push(
                   // { value: '7', text: 'Berlin' },
                   // { value: '8', text: 'Hamburg' },
                   // { value: '9', text: 'Munich' })
                   //    }
                       vm.TwoData = '索引';
                       vm.ThreeData = '类型';
                   },
                   TwoData: function () {
                       //vm.selThreeVal = [{ value: '-1', text: '类型' }];
                       var s2 = vm.TwoData;
                       vm.selThreeVal = [];
                       this.selThreeVal.push({ value: '类型', text: '类型' })
                       if (s2 >= 1){
                        this.selThreeVal.push(
                       { value: '1', text: 'chat' },
                      )
                       }

                      /* if (s2 == 1) {
                           this.selThreeVal.push(
                       { value: '1', text: '邵阳' },
                       { value: '2', text: '长沙' },
                       { value: '3', text: '湘潭' })
                       } else if (s2 == 2) {
                           this.selThreeVal.push(
                    { value: '4', text: '宜昌' },
                    { value: '5', text: '武汉' },
                    { value: '6', text: '襄阳' })
                       } else if (s2 == 3) {
                           this.selThreeVal.push(
                    { value: '7', text: '浦东新区' },
                    { value: '8', text: '徐汇区' },
                    { value: '9', text: '静安区' })
                       }*/
                       vm.ThreeData = '类型';
                   },
               }
        })




        </script>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">index：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail5" placeholder="index" name="index"
                       style="width:30%">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">type：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail6" placeholder="types" name="types"
                       style="width:30%">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">query</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail7" placeholder="query" name="query"
                       style="width:30%">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">answer</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail8" placeholder="answer" name="answer"
                       style="width:30%">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="add">新增</button>
            </div>
        </div>
    </form>
</div>


<div style="inline-block">
    <form method='post' id="myForm">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
            <a target="_parent" href="/logout/">logout</a>
            <input type="submit" value="修改" class="btn btn-primary" id="xiugai">
            <input type="submit" value="提交a" class="btn btn-primary" id="myForms">
        </table>
    </form>
</div>
<table class="table table-striped" id="contactTable">
    <thead>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>地址</th>
        {{ request.user.username }}
        {% if perms.one.新增 and perms.one.检索 %}
        <th><input type="button" value="删除" id="delete"></th>
        {% endif %}
        {% if perms.one.新增 and perms.one.检索 and perms.one.修改 %}
        <th><input type="button" id="update" value="更新"></th>
        {% endif %}
    </tr>
    </thead>
    {% for contact in contacts %}
    <tbody>
    <tr>
        {% for i in contact %}
        <td>{{ i }}</td>
        <!--<td >{{ contact.name }}</td>-->
        <!--<td >{{ contact.age }}</td>-->
        <!--<td >{{ contact.address }}</td>-->

        {% endfor %}
        <td><input type="checkbox" name="test"></td>
    </tr>

    {% endfor %}
    </tbody>
</table>
<!--<div class="pagination">-->
<!--<span class="step-links">-->
<!--{% if contacts.has_previous %}-->
<!--<a href="?page={{ contacts.previous_page_number }}">previous</a>-->
<!--{% endif %}-->
<!---->
<!--<span class="current">-->
<!--Page {{ contacts.number | safe }} of {{ contacts.paginator.num_pages }}.-->
<!--</span>-->
<!---->
<!--{% if contacts.has_next %}-->
<!--<a href="?page={{ contacts.next_page_number }}">next</a>-->
<!--{% endif %}-->
<!--</span>-->
<!--</div>-->

<nav aria-label="Page navigation">
    <ul class="pagination">

        {% if contacts.has_previous %}
        <li>
            <a href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for pg in contacts.paginator.page_range %}
        {% if contacts.number == pg %}
        <li class="active"><a href="#">{{ pg }}</a></li>
        {% else %}
        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% endif %}
        {% endfor %}

        {% if contacts.has_next %}
        <li>
            <a href="?page={{ contacts.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
</body>
</html>